@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.container_logo {
    display: inherit;
    align-items: center;
}

.container_logo img {
    width: auto;
    height: 150px;
}


.boxer {
    display: table;
    border-collapse: collapse;
    margin: auto;
}

.boxer .box-row {
    display: table-row;
}

.box-row-titre {
    display: table-row;
}

.boxer .box-row:first-child {
    font-weight: bold;
}

.boxer .box {
    display: table-cell;
    vertical-align: top;
    border: 1px solid black;
    padding: 5px;
    font-family: monospace;
}

.boxer .user {
    padding: 5px 1.5em;
}

.boxer .actions {
    padding: 5px 1.5em;
}

.boxer .amazon {
    padding: 5px 1.5em;
}

.center {
    text-align: center;
}

.right {
    float: right;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.listeParticipants {
    display: flex;
    justify-content: left;
}

body {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
    grid-auto-rows: 0fr 1fr 0fr;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

main {
    background: linear-gradient(to top, #EAD272, #7A7E80) no-repeat;
}

.nav,
.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 38vh;
    position: relative;
    background-color: #1e1f26;
    text-align: center;
    padding: 0 1em;
}

.nav h1,
.slider h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 5vw;
    margin: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5rem;
    color: #03dac6;
    transition: all 0.3s ease;
    z-index: 3;
}

h1:hover {
    transform: translate3d(0, -10px, 22px);
    color: goldenrod;
}

.slider h2 {
    font-size: 2vw;
    letter-spacing: 0.3rem;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
}

h3.span {
    font-size: 2vw;
    letter-spacing: 0.7em;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
}

.form_lieu {
    display: flex;
    justify-content: center;
    padding: 4rem 6% 1rem 1rem;
}

.img-crea {
    width: 250px;
    height: 250px;
    margin: 1rem 40%;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: medium;
}

.nav-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: #1e1f26;
    z-index: 10;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.container-footer {
    background-color: #1e1f26;
    color: #e0e0e0;
    text-align: center;
    padding: 1rem 0;
}

.nav-container--top-first {
    position: fixed;
    top: 75px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-second {
    position: fixed;
    top: 0;
}

.nav-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #03dac6;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 2vw;
}

.nav-tab:hover {
    color: #1e1f26;
    background: #03dac6;
    transition: all 0.5s ease;
}

.nav-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #03dac6;
    transition: left 0.3s ease;
}

.background {
    position: absolute;
    height: 90vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: auto;
}

@media (min-width: 800px) {
    .nav h1,
    .slider h1 {
        font-size: 5vw;
    }

    .nav h2,
    .slider h2 {
        font-size: 3vw;
    }

    .nav-tab {
        font-size: 3vw;
    }
}

@media screen and  (min-width: 360px) {
    .nav h1,
    .slider h1 {
        font-size: 8vw;
    }

    .nav h2,
    .slider h2 {
        font-size: 2vw;
        letter-spacing: 0.2vw;
    }

    .nav-tab {
        font-size: 1.2vw;
    }
}

.background {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.loader span {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    -webkit-animation: loading 1s ease-in-out infinite alternate;
}

@-webkit-keyframes loading {
    to {
        text-shadow: 20px 0 70px goldenrod;
        color: goldenrod;
    }
}

.loader span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
}

.loader span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
}

.loader span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
}

.loader span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
}

.loader span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
}

.loader span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
}

.loader span:nth-child(8) {
    -webkit-animation-delay: 0.7s;
}

.loader span:nth-child(9) {
    -webkit-animation-delay: 0.8s;
}

.loader span:nth-child(10) {
    -webkit-animation-delay: 0.9s;
}

.loader span:nth-child(11) {
    -webkit-animation-delay: 1s;
}

.loader span:nth-child(12) {
    -webkit-animation-delay: 1.1s;
}

.loader span:nth-child(13) {
    -webkit-animation-delay: 1.2s;
}

.loader span:nth-child(14) {
    -webkit-animation-delay: 1.3s;
}

.loader span:nth-child(15) {
    -webkit-animation-delay: 1.4s;
}

.loader span:nth-child(16) {
    -webkit-animation-delay: 1.5s;
}

.loader span:nth-child(17) {
    -webkit-animation-delay: 1.6s;
}

.loader span:nth-child(18) {
    -webkit-animation-delay: 1.7s;
}

.loader span:nth-child(19) {
    -webkit-animation-delay: 1.8s;
}

.loader span:nth-child(20) {
    -webkit-animation-delay: 1.9s;
}

.loader span:nth-child(21) {
    -webkit-animation-delay: 2s;
}

.loader span:nth-child(22) {
    -webkit-animation-delay: 2.1s;
}

.form_sortie {
    display: flex;
    justify-content: center;
    padding: 1rem 1% 5rem;
}

.filtre {
    padding-right: 3rem;
}

#input_rechercher {
    margin: 1.5rem;
}

.infos_user {
    padding: 1rem;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 120px;
    background: #27282c;
}

#input_rechercher {
    position: relative;
    padding: 16px 30px;
    font-size: 1.5rem;
    color: var(--color);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    text-shadow: 0 0 15px var(--color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    z-index: 1;
}

#input_rechercher:hover {
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0px var(--color);
}

#input_rechercher::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color);
    z-index: -1;
    transform: scale(0);
    transition: 0.5s;
}

#input_rechercher:hover::before {
    transform: scale(1);
    transition-delay: 0.5s;
    box-shadow: 0 0 10px var(--color),
    0 0 30px var(--color),
    0 0 60px var(--color);
}

#input_rechercher span {
    position: absolute;
    background: var(--color);
    pointer-events: none;
    border-radius: 2px;
    box-shadow: 0 0 10px var(--color),
    0 0 20px var(--color),
    0 0 30px var(--color),
    0 0 50px var(--color),
    0 0 100px var(--color);
    transition: 0.5s ease-in-out;
    transition-delay: 0.25s;
}

#input_rechercher:hover span {
    opacity: 0;
    transition-delay: 0s;
}

#input_rechercher span:nth-child(1),
#input_rechercher span:nth-child(3) {
    width: 40px;
    height: 4px;
}

#input_rechercher:hover span:nth-child(1),
#input_rechercher:hover span:nth-child(3) {
    transform: translateX(0);
}

#input_rechercher span:nth-child(2),
#input_rechercher span:nth-child(4) {
    width: 4px;
    height: 40px;
}

#input_rechercher:hover span:nth-child(1),
#input_rechercher:hover span:nth-child(3) {
    transform: translateY(0);
}

#input_rechercher span:nth-child(1) {
    top: calc(50% - 2px);
    left: -50px;
    transform-origin: left;
}

#input_rechercher:hover span:nth-child(1) {
    left: 50%;
}

#input_rechercher span:nth-child(3) {
    top: calc(50% - 2px);
    right: -50px;
    transform-origin: right;
}

#input_rechercher:hover span:nth-child(3) {
    right: 50%;
}

#input_rechercher span:nth-child(2) {
    left: calc(50% - 2px);
    top: -50px;
    transform-origin: top;
}

#input_rechercher:hover span:nth-child(2) {
    top: 50%;
}

#input_rechercher span:nth-child(4) {
    left: calc(50% - 2px);
    bottom: -50px;
    transform-origin: bottom;
}

#input_rechercher:hover span:nth-child(4 ) {
    bottom: 50%;
}

.crea {
    display: block;
    grid-auto-rows: 0fr 1fr 0fr;
    border-collapse: collapse;
    margin: auto;
    width: 22em;
    padding: 8px;
}

@media screen and (max-width: 900px) {
    .footer {
        position: fixed;
        margin-top: 15%;
        bottom: 0;
        width: 100%;
    }

    .container_logo {
        display: inherit;
        align-items: center;
    }

    .container_logo img {
        width: auto;
        height: 150px;
    }

    .crea {
        display: block;
        grid-auto-rows: 0fr 1fr 0fr;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        width: 22em;
        padding: 8px;
    }

    #input_rechercher {
        position: -ms-device-fixed;


        color: var(--color);
        border: 2px solid rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        text-shadow: 0 0 15px var(--color);
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        transition: 0.5s;
        z-index: 1;
    }

    #input_rechercher {
        margin: 1.5rem;
    }

    body {
        font-family: 'Poppins', sans-serif;
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        height: 100%;
        grid-auto-rows: 0fr 1fr 0fr;
        margin: 0%;
    }

    main {
        resizes-content: 100%;
        background: linear-gradient(to top, #EAD272, #7A7E80) no-repeat;
    }

    .boxer {
        display: table;
        border-collapse: collapse;
        margin: auto;
    }

    .boxer .box-row {
        display: table-row;
    }

    .box-row-titre {
        display: table-row;
    }

    .boxer .box-row:first-child {
        font-weight: bold;
    }

    .boxer .box {
        display: table-cell;
        vertical-align: top;
        border: 1px solid black;
        padding: 5px;
        font-family: monospace;
    }

    .boxer .user {
        padding: 5px 1.5em;
    }

    .boxer .actions {
        padding: 5px 1.5em;
    }

    .boxer .amazon {
        padding: 5px 1.5em;
    }

    .center {
        text-align: center;
    }

    .right {
        float: right;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
}

.crea > div {
    display: grid;
    grid-gap: 1rem;
}

.alert-success {
    text-align: center;
}

.erreur {
    display: flex;
    justify-content: center;
    align-items: center
}