{% extends 'base.html.twig' %}

{% block body %}

{% endblock %}
<h2>Annuler une sortie</h2>

        {{ form_start(annulationSortie) }}

        {{ form_widget(annulationSortie) }}

        {{ form_end(annulationSortie) }}


{% block title %}

{% endblock %}

