{% extends 'base.html.twig' %}

{% block title %}Accés refusé{% endblock %}

{% block body %}
    <div class="crea">
        <h1>Accés refusé</h1>
        <p>Vous ne passerez pas!!!</p>
        <p>Le code est : {{status_code}}</p>
        <p>Le texte est : {{status_text}}</p>
    </div>


{% endblock %}