{% extends 'base.html.twig' %}

{% block title %}Utilisateur non identifié{% endblock %}

{% block body %}
    <div class="crea">
        <h1>Utilisateur non identifié</h1>
        <p>il manque des informations d'authentification valides pour la ressource visée</p>
        <p>Le code est : {{status_code}}</p>
        <p>Le texte est : {{status_text}}</p>
    </div>


{% endblock %}