{% extends 'base.html.twig' %}

{% block body %}

    <div class="crea">{{ form_start(userCSVForm) }}</div>
    <div class="crea">{{ form_widget(userCSVForm) }}</div>
    <div class="crea">{{ form_end(userCSVForm) }}</div>

{% endblock %}